@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
.technologies {
  background: #3e4959; }

#site-header .navbar-wrapper a {
  color: #fff; }

#site-footer {
  background: #3e4959; }

::-moz-selection {
  background: #3e4959;
  color: #f3f3f3; }

::selection {
  background: #3e4959;
  color: #f3f3f3; }

.jumbotron {
  background-color: #3e4959; }
  .jumbotron .btn-outline-inverse {
    border: 2px solid #f3f3f3;
    color: #f3f3f3; }
    .jumbotron .btn-outline-inverse:hover, .jumbotron .btn-outline-inverse:focus {
      background: #f3f3f3;
      color: #3e4959; }

pre {
  background: rgba(244, 243, 244, 0.6); }
  pre code {
    color: inherit;
    background-color: transparent; }
  pre .hljs {
    background: none; }

body.docs {
  background: #f4f3f4; }

#content code {
  color: #837f84;
  background-color: #f4f3f4; }

#sidebar-wrapper {
  background: #3e4959; }

#page-content-wrapper .nav a {
  color: #837f84; }
  #page-content-wrapper .nav a:hover {
    color: #3e4959; }
  #page-content-wrapper .nav a i {
    font-size: 18px; }

.sidebar-nav > li a:hover {
  background: #3e4959; }
.sidebar-nav > li a.active {
  border-left: 3px solid #3e4959;
  color: #fff; }
.sidebar-nav > .sidebar-brand a {
  background: #3e4959; }
  .sidebar-nav > .sidebar-brand a:hover {
    background: #3e4959; }
