a:hover, a:focus {
  color: #3e4959;
  text-decoration-skip: ink;
  -webkit-text-decoration-skip: ink;
}

blockquote {
  font-size: 13px;
}

h4 {
  margin-top: 25px;
}

section h1:first-of-type {
  margin-top: 0;
}

table, .highlight {
  margin-bottom: 12.5px !important;
}

pre.highlight code.hljs {
  white-space: pre;
  word-break: normal;
  word-wrap: normal;
  overflow: auto;
}

/* Home layout */

.jumbotron {
  background-image: unset;
}

.jumbotron h1 {
  color: #f3f3f3;
}

#site-header .navbar-wrapper a {
  color: #f3f3f3;
}

.technologies {
  display: none;
}

#site-footer p {
  color: rgba(243, 243, 243, 0.3);
}

#site-footer p a {
  color: rgba(243, 243, 243, 0.6);
}

/* Docs layout */

.sidebar-nav > li > a:hover {
  color: #f3f3f3;
}

.sidebar-nav > li a.active {
  border-left: 3px solid #aab5bd;
  color: #f3f3f3;
}

.sidebar-nav > .sidebar-brand a {
  color: #f3f3f3;
}

.sidebar-nav > .sidebar-brand a .brand-wrapper span {
  left: 45px;
}

.label-default {
  background-color: #cdd3da;
}

.modal-kazari {
  display: none;
}

#page-content-wrapper section a:hover, #page-content-wrapper section a:focus {
  text-decoration: underline;
  text-decoration-skip: ink;
  -webkit-text-decoration-skip: ink;
}
