a:hover, a:focus {
  color: #3e4959;
  text-decoration-skip: ink;
  -webkit-text-decoration-skip: ink;
}

blockquote {
  font-size: 13px;
  margin-top: 20px;
}

h4 {
  margin-top: 25px;
}

section h1:first-of-type {
  margin-top: 0;
}

table {
  margin-bottom: 12.5px;
}

pre.highlight code.hljs {
  white-space: pre;
  word-break: normal;
  word-wrap: normal;
  overflow: auto;
}

/* Home layout */

.jumbotron {
  background-image: unset;
}

.jumbotron h1 {
  color: #f3f3f3;
}

#site-header .navbar-wrapper a {
  color: #f3f3f3;
}

#site-main .use .container {
  max-width: 845px;
}

#site-main .use .container img {
  margin-top: 15px;
  margin-bottom: 15px;
}

.technologies {
  display: none;
}

#site-footer p {
  color: rgba(243, 243, 243, 0.3);
}

#site-footer p a {
  color: rgba(243, 243, 243, 0.6);
}

#site-main #content .header-link {
  float: left;
  font-size: 20px;
  line-height: 1;
  margin-left: -20px;
  margin-top: 4px;
  opacity: 0;
  padding-right: 0;
  transition: opacity 0.2s ease, color 0.2s ease;
}

#site-main #content h3 .header-link {
  font-size: 18px;
  margin-top: 2px;
}

#site-main #content h4 .header-link {
  font-size: 15px;
  margin-top: 0;
  margin-left: -17px;
}

#site-main #content h1:hover .header-link,
#site-main #content h2:hover .header-link,
#site-main #content h3:hover .header-link,
#site-main #content h4:hover .header-link {
  opacity: 1;
}

/* Docs layout */

.sidebar-nav > li > a:hover {
  color: #f3f3f3;
}

.sidebar-nav > li a.active {
  border-left: 3px solid #aab5bd;
  color: #f3f3f3;
}

.sidebar-nav > .sidebar-brand a {
  color: #f3f3f3;
}

.sidebar-nav > .sidebar-brand a .brand-wrapper span {
  left: 45px;
}

.label-default {
  background-color: #cdd3da;
}

.modal-kazari {
  display: none;
}

#page-content-wrapper section {
  max-width: 845px;
}

#page-content-wrapper .nav {
  max-width: 875px;
  margin-right: 30px;
}

#page-content-wrapper section p,
#page-content-wrapper section ul {
  text-align: justify;
  hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
}

#page-content-wrapper section p code,
#page-content-wrapper section ul li code {
  white-space: nowrap;
}

#page-content-wrapper section > *:last-child { margin-bottom: 0; }
#page-content-wrapper section > *:last-child > .highlight { margin-bottom: 0; }
#page-content-wrapper section > .footnotes:last-child > ol { margin-bottom: 0; }
#page-content-wrapper section > .footnotes:last-child > ol > li:last-child > p:last-child { margin-bottom: 0; }

#page-content-wrapper section a:hover,
#page-content-wrapper section a:focus {
  text-decoration: underline;
  text-decoration-skip: ink;
  -webkit-text-decoration-skip: ink;
}

section > ul + .highlighter-rouge {
  margin-left: 40px;
}
